* {
  box-sizing: border-box;
}
body {
  background-color: azure;
}
#heading {
  text-align: center;
  text-decoration: underline;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 5.5px;
  gap: 0.2em;
  width: 350px;
  height: 500px;
  border: solid black 1px;
  background-color: rgb(47, 46, 46);
}

.grid-col-span-4 {
  grid-column: span 4;
}
.grid-col-span-2 {
  grid-column: span 2;
}

#calc-screen {
  text-align: right;
  font-size: 2.5rem;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
  max-width: 100%;
  border: solid orange 5px;
}

button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
}

/* Orange btns */
.numpad {
  border-color: #ff9800;
  background-color: black;
  color: orange;
  border-radius: 5px;
}
.numpad:hover {
  background: #ff9800;
  color: white;
}
/* Blue btns */
.nums,
#btn-point {
  border-color: rgb(41, 190, 190);
  color: rgb(41, 190, 190);
}
.nums:hover,
#btn-point:hover {
  background: rgb(41, 190, 190);
  color: white;
}
